.home-center {
  grid-area: 7 / 7 / 10 / 10;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home-triangle.top {
  background-color: var(--color-green);
  clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.home-triangle.right {
  background-color: var(--color-yellow);
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

.home-triangle.bottom {
  background-color: var(--color-blue);
  clip-path: polygon(100% 100%, 0 100%, 50% 50%);
}

.home-triangle.left {
  background-color: var(--color-red);
  clip-path: polygon(0 100%, 0 0, 50% 50%);
}
